/* Autocompleter summon button */
button.autocompleter-summon {
    flex: 0 0 20px !important;
    width: 20px !important;
    height: 20px !important;
    padding: 0 !important;
    margin: auto 2px !important;
    line-height: 0 !important;
    border-radius: 10px;
}

button.autocompleter-summon > i {
    margin: 0;
    color: #333333;
}

button.autocompleter-summon[disabled] > i {
    margin: 0;
    opacity: 50%;
}

/* Autocompleter application */
.autocompleter {
    min-height: 25px;
}

.autocompleter .window-content {
    padding: 3px;
}

.autocompleter ol.aip-list {
    margin: 2px;
    padding: 0;
    list-style-type: none;
}

.autocompleter ol.aip-list li.aip-data-entry .aip-key {
    flex: 1 1 auto;
}

.autocompleter ol.aip-list li.aip-data-entry .aip-value {
    flex: 0 0 30px;
    text-align: center;
    font-family: monospace;
    color: #333333;
}

.autocompleter .aip-form > :not(:last-child) {
    margin-right: 2px;
}

.autocompleter input.aip-input {
    flex: 1;
}

.autocompleter button.aip-insert {
    flex: 0 0 25px;
    text-align: center;
    line-height: unset;
    margin: 0;
}

.autocompleter button.aip-insert > i {
    margin: unset;
}
